.content {
  border: 2px solid #f8bdbd;
  margin: 2em 0;
  padding: 2em 3em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  cursor: pointer;
  width: 35em;
}

.title {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1.2em;
}

.writing {
  font-size: 1.2em;
}

.center {
  text-align: center;
}

.writer {
  font-size: 1.1em;
  color: #acacac;
  margin-top: 1.4em;
  text-align: center;
}
