.content {
  border: 2px solid #f8bdbd;
  margin-bottom: 2em;
  padding: 1.4em 1.4em 2em 1.4em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1.2em;
}

.writing {
  font-size: 1.2em;
}

.writer {
  font-size: 1.1em;
  color: #acacac;
  margin-top: 1.4em;
}
