.header {
  width: 100%;
  background-color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.menu {
  width: 27px;
  height: 20px;
  cursor: pointer;
}

.date {
  color: #666666;
}
