@value White, Black, LightGrey from '../../common/styles.css';

.header {
  width: 100%;
  background-color: White;
  height: 3.6em;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.menu {
  font-size: 1.8em;
  cursor: pointer;
}

.date {
  color: LightGrey;
  font-size: 1.2em;
}
