.header {
  width: 100%;
  background-color: #fff;
  height: 3.2em;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  /* border-bottom: 1px solid #ddd; */
}

.menu {
  width: 27px;
  height: 20px;
  cursor: pointer;
  color: #000;
}

.date {
  color: #acacac;
}
