.sidebar {
  height: 100%;
  width: 20em;
  background-color: #fff;
  position: fixed;
  left: -20em;
  padding: 0 20px;
  transition: transform 0.3s ease-in;
  z-index: 2;
}

.sidebar.on {
  transform: translateX(20em);
}

.closeContainer {
  height: 3.2rem;
}

.menu {
  width: 32px;
  height: 24px;
  margin-top: 18px;
  cursor: pointer;
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  text-align: center;
  height: 3em;
  font-size: 1em;
  line-height: 3em;
  color: #333;
}

.item:after {
  display: block;
  width: 80%;
  margin: 0 auto;
  content: '';
  transform: scaleX(0);
  border-bottom: 2px solid #f8bdbd;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.item:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.item:hover {
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 6em;
  box-sizing: border-box;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2em;
  width: 100%;
  height: 3em;
}

.search {
  margin-right: 0.4em;
  font-size: 1.2em;
}

.searchInput {
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  font-family: inherit;
  padding: 0.2em;
  text-align: center;
  font-size: 1em;
}

.searchInput::placeholder {
  color: #ccc;
}
