@value Black, LightGrey, LightPink from '../../common/styles.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.8em;
  padding-bottom: 1.2em;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.subject {
  margin-top: 2rem;
}

.writing {
  font-size: 1.3em;
  margin: 1.4rem 0;
  color: Black;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.5em;
}

.writingInfo {
  color: LightGrey;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  font-size: 1.1em;
}

.writer {
  margin-right: 0.2em;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  color: LightGrey;
  cursor: pointer;
  margin-bottom: 1rem;
}

.write {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid LightPink;
  cursor: pointer;
  color: Black;
  font-family: inherit;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2em;
}
